.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  /* Distância do fundo da tela */
  left: 50%;
  /* Centraliza horizontalmente */
  transform: translateX(-50%);
  /* Ajusta para centralizar o elemento em relação ao seu próprio tamanho */
}

.pagination-controls button {
  padding: 8px 16px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 16px;
}